.cabecalho h1 {
  margin-bottom: 1px;
}

.cabecalho p {
  margin-top: 1px;
}

.texto {
  text-align: left;
}

.texto h1 {
  margin-bottom: 2px;
}

.texto p,
.texto-especial p {
  margin-top: 2px;
  font-size: 20px;
}

.rodape p{
  font-size: 30px;
}