<body>
  <h1>Uma última carta...</h1>
  <div class="conteiner">
    <div class="texto">
      <h1>Para ti princesa,</h1>
      <p>
        Se por ventura esta messiva te encontrar em tempos serenos ou nebulosos,
        que saibas desde já: Não carrego mágoas em meu coração, tampouco
        ressentimento pelo que outrora vivemos. Pelo contrário, guardo em meu
        peito um carinho singular, como quem zela por uma joia rara deixada ao
        tempo.
      </p>
      <p>
        Tu surgiste em minha jornada quando já não acreditava mais no amor. E ao
        teu lado, senti aquilo que há muito me escapava - o pulsar legítimo do
        coração. Por isto sou grato a Deus... e a ti.
      </p>
      <p>
        Como outrora te prometi por escrito, "Respeitarei toda e qualquer
        decisão tua, e continuarei a te amar". E reafirmo: mantenho-me firme
        nesta promessa. Não no amor dos enamorados, mas no amor puro da
        reverência da lembrança boa e do bem-querer sincero.
      </p>
      <p>
        Minha doce Aimée, a quem eu apelidava de Mia Princino... eu sei que és
        alma nobre. Alegrou-me de verdade com tua presença, e tudo o que vivemos
        foi honesto como o brilho de uma estrela que se recusa a apagar.
      </p>
      <p>
        Sim, desejava formar família contigo. E mesmo que tu me admoestasses com
        um “calma, estás ansioso demais”, jamais reneguei o sonho que tínhamos.
        Peço-te perdão por meus erros, e ofereço-te o perdão também - sem
        acusação, sem peso, apenas compreensão.
      </p>
      <p>
        Disse um dia que seria teu cavaleiro... e tu, minha princesa. Que te
        protegeria dos perigos do mundo. Talvez eu tenha falhado. Talvez eu
        tenha lutado demais. Talvez de menos. Mas a espada do meu afeto sempre
        esteve voltada para ti.
      </p>
      <p>
        Não é necessário que respondas estas palavras. Desejo-te apenas caminhos
        gentis, encontros felizes, e quem sabe… que cruzes com outro cavaleiro,
        tão devoto quanto outrora fui.
      </p>
      <p>
        Adeus, Princesa Aimée Fontoura Veiga… De teu antigo cavaleiro, Sir Luis
        - O Cavaleiro da Armadura High Tech.
      </p>
    </div>
  </div>
</body>
