<head>
  <link rel="stylesheet" href="assets/css/base/style.css" />
  <link rel="stylesheet" href="assets/css/base/tipografia.css" />
  <link rel="stylesheet" href="assets/css/images/carta-imagens.css" />
  <link rel="stylesheet" href="assets/css/components/cabecalho.css" />
  <link
    rel="stylesheet"
    href="assets/css/layout/mobile/small-screen.css"
    media="(min-width: 320px) and (max-width: 359px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/mobile/medium-screen.css"
    media="(min-width: 360px) and (max-width: 429px)"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=MedievalSharp&display=swap"
    rel="stylesheet"
  />
</head>
