<body>
  <h1>Sobre o Projeto</h1>
  <div class="conteiner">
    <div class="texto">
      <p>
        Bom, você deve ter notado alguns aspectos neste projeto... Ele pode
        parecer simples, mas carrega o peso de uma carta escrita à mão, sabe?
        Fiz algumas analogias sutis (e sei que você, esperta como é, percebeu
        todas). Escolhi essa topologia visual porque remete a um estilo medieval
        — assim como a escrita, inspirada numa crônica de despedida. A paleta
        predominante de cores é azul e branco, duas das suas três favoritas. O
        título “Supernova” também foi escolhido com carinho: na astronomia, é o
        nome da explosão de uma estrela de nêutrons. O que eu quero dizer com
        isso é... mesmo após o fim, o brilho dessa estrela continua a viajar
        pela vastidão do universo. E assim é o que eu sinto sobre nós: mesmo
        depois do fim, o brilho e a alegria do que vivemos continuarão
        existindo. Sempre.
      </p>
      <h1>Epílogo</h1>
      <p>
        Eu posso não ter sido o seu primeiro amor, mas espero ser o primeiro que a
        fará se sentir amada mesmo depois do fim.
      </p>
    </div>
  </div>
</body>
