<body>
  <h1>Sobre o Projeto</h1>
  <div class="conteiner">
    <div class="texto">
      <p>
        Bom, você deve ter notado alguns aspectos neste projeto... Ele pode
        parecer simples, mas carrega o peso de uma carta escrita à mão, sabe?
        Fiz algumas analogias sutis (e sei que você, esperta como é, percebeu
        todas). Escolhi essa topologia visual porque remete a um estilo medieval
        — assim como a escrita, inspirada numa crônica de despedida. A paleta
        predominante de cores é azul e branco, duas das suas três favoritas. O
        título “Supernova” também foi escolhido com carinho: na astronomia, é o
        nome da explosão de uma estrela de nêutrons. O que eu quero dizer com
        isso é... mesmo após o fim, o brilho dessa estrela continua a viajar
        pela vastidão do universo. E assim é o que eu sinto sobre nós: mesmo
        depois do fim, o brilho e a alegria do que vivemos continuarão
        existindo. Sempre.
      </p>
      <h1>Epílogo</h1>
      <p>
        Eu posso não ter sido o teu primeiro amor, mas talvez seja aquele que,
        mesmo depois do fim, ainda deseja que você se sinta amada. Talvez seja
        esse o sentimento que dá valor ao ouro, à prata… e às lembranças que
        brilham feito estrelas. Nunca fui bom com palavras — então traduzi tudo
        que sinto neste pequeno projeto. Que ele te faça sorrir nos dias
        nublados, como nossas fotos ainda fazem sorrir o meu coração. Obrigado
        por ter me permitido sentir tudo isso. Mesmo por uma fração de tempo,
        foi eterno. Mas sabe... eu não fiz isso pensando em reconquistar você,
        na verdade eu só fiz isso pra dizer como me sinto. E me sinto muito bem
        em saber que você está bem.
      </p>
    </div>
    <div class="texto-especial">
      <img src="assets/images/nos.jpg" alt="" class="dia-feliz" />
      <p>
        Lembra desse dia? Essa é a minha foto favorita, sabe? E também foi o meu
        dia favorito. :>
      </p>
    </div>
  </div>
  <div class="rodape">
    <div class="texto-especial">
      <p>
        Sabe Aimée, a maioria das pessoas podem não entender o real segnificado
        desse projeto... porém do fundo do meu coração, eu espero que você
        entenda. Se um dia te questionarem sobre o porquê fiz esse projeto,
        lembre-se dessas palavras: "Vocês vão entender quando forem mais
        velhos".
      </p>
    </div>
  </div>
</body>
